{
  debug
}

local.api.snc-demo.fr {
  tls internal
  reverse_proxy http://snc_demo_api
  log {
    output file /var/log/api-access.log {
      roll_size 10mb
      roll_keep 2
    }
  }
}

local.app.snc-demo.fr {
  tls internal
  reverse_proxy snc_demo_app:3002
  log {
    output file /var/log/app-access.log {
      roll_size 10mb
      roll_keep 2
    }
  }
}
